h1 {
  font-family: Helvetica, sans-saerif;
  text-align: center;
}

input{
  width: 275px;
}

.converter {
  width: 50%;
  margin: 0 auto;
}

.convertBlock {
  width: 50%;
  margin: 0 auto;
  float:left;

}
